.user-welcome {
    font-size: 30px;
    font-weight: bold;
    font-family: "Bradley Hand ITC";
    padding: 100px;
    letter-spacing: 2.5px;
    text-decoration-color: #5ACBFF;
    color: #a03261;
}

.user-first-last-name {
    padding: 50px;
}

.welcome {
}
.welcome-center{
    text-align: center;
    margin-top: 50px;
}
.welcome-index {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bolder;
    color:#085ca5;


}
.welcome-text {

    font-family: Georgia;
    font-size: 20px;
    font-weight: 10px;
    letter-spacing:0.5px;
    margin-top:50px;
    margin-bottom:50px;

}
.welcome-sign-in-out{
    margin: 0px 0px 40px 0px;
    color: red;
    font-weight: bold;
    font-size: 20px;

}
.main-menu {

}
.body-profile-container{
    color: #050661;
    background: url(/icons/back.jpg)
}
.body-container{
    background: url(/icons/back3.jpg)
}